<button (click)="clickButton()">
</button>


<p>system-files-tree works!</p>

<ngx-graph
  class="chart-container"
  [view]="[1500, 1500]"
  [showMiniMap]="true"
  [links]=links
  [nodes]=initialNodes
  [zoomToFit$]="zoomToFit$"
  [update$]="update$"


>
<ng-template #nodeTemplate let-node>
  <svg:g class="node" (click)="onNodeSelected(node)" (contextmenu)="onRightClick($event)" xmlns="http://www.w3.org/2000/xhtml">
    <svg:foreignObject width="300" height="20">
      <xhtml:div class="cardContainer">
        <label>{{ node.label }}</label>
        <label>({{ node.size }})</label>
      </xhtml:div>
    </svg:foreignObject>
  </svg:g>
</ng-template>

<ng-template #linkTemplate let-link>
  <svg:g class="edge" >
    <svg:path class="line" stroke-width="2" stroke="#bebebe" stroke-dasharray="2,2" marker-end="url(#arrow)" >
    </svg:path>

    <svg:text class="edge-label" text-anchor="middle">
      <textPath class="text-path" [attr.href]="'#' + link.id" style="fill: #4c4c4c;" [style.dominant-baseline]="link.dominantBaseline"
        startOffset="50%">
        {{link.label}}
      </textPath>
    </svg:text>
  </svg:g>
</ng-template>






</ngx-graph>